name: build and upload artifacts

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  workflow_call:
    inputs:
      tag_name:
        type: string
        description: "The tag name of the release without v prefix"

env:
  VERSION: ${{ inputs.tag_name }}

jobs:
  build:
    name: build and upload artifacts
    strategy:
      matrix:
        include:
          - os: windows-2022
            arch: amd64
            target: windows
            ext: .exe
          - os: ubuntu-20.04
            arch: amd64
            target: linux
          - os: macos-13
            arch: amd64
            target: darwin
          - os: macos-14
            arch: arm64
            target: darwin

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: installing dependencies
        uses: ./.github/actions/install
        with:
          os: ${{ matrix.os }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if VERSION exists
        shell: bash
        id: check_version
        run: |
          if [ ! -z "${{ env.VERSION }}" ]; then
            echo "PRODUCTION=true" >> $GITHUB_ENV
          fi

      - name: Build CLI
        shell: bash
        run: task build:cli
        env:
          OS: ${{ matrix.target }}
          ARCH: ${{ matrix.arch }}

      - name: Rename CLI artifact
        run: mv build/deweb-cli${{ matrix.ext }} build/deweb-cli_${{ matrix.target }}_${{ matrix.arch }}${{ matrix.ext }}

      - name: Upload CLI artifact
        uses: actions/upload-artifact@v4
        with:
          name: deweb_cli-${{ matrix.target }}-${{ matrix.arch }}
          path: build/deweb-cli_${{ matrix.target }}_${{ matrix.arch }}${{ matrix.ext }}

      - name: Build Server
        shell: bash
        run: task build:server
        env:
          OS: ${{ matrix.target }}
          ARCH: ${{ matrix.arch }}

      - name: Rename Server artifact
        run: mv build/deweb-server${{ matrix.ext }} build/deweb-server_${{ matrix.target }}_${{ matrix.arch }}${{ matrix.ext }}

      - name: Upload Server artifact
        uses: actions/upload-artifact@v4
        with:
          name: deweb_server-${{ matrix.target }}-${{ matrix.arch }}
          path: build/deweb-server_${{ matrix.target }}_${{ matrix.arch }}${{ matrix.ext }}
