name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22
          cache: true
      - name: run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59
          args: --timeout=3m
      - name: install gofumpt
        run: go install mvdan.cc/gofumpt@latest
      - name: run gofumpt
        run: |
          ERRORS=$(gofumpt -l . | wc -l)
          if [[ "$ERRORS" != "0" ]]; then
            echo "following files are not gofumpted:"
            gofumpt -l .
            exit 1
          fi

  lint-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./pages
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: ./pages/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run code formating and linting
        run: npm run lint:check
